html, body { 
    margin: 0; padding: 0;
    height: 100%; 
    overflow: auto;

}

/*
#lit_quote {

}
*/
#lit_quote em {
    font-weight: 900;
    color: rgb(19, 19, 19);
    font-style: normal
}


#main_text {
    width: 80vw;
    margin: auto; 
    color: rgb(39, 39, 39);
    font-family: 'Merriweather', Times, serif;
}

cite {
    float: right;
    font-size: 2.3vw;
}
cite #book{
    font-style: normal;
}

#buttom {
    height: 10px; 
    width: 100%;
    position: fixed; 
    bottom:2%;
    color: dimgray;
}
#buttom a, a:visited {
    color: rgb(66, 66, 66)
}

#github {
    float: right;
    padding-right: 40px
}